:root {
  /* Color */
  --white-color: #fff;
  --black-color: #000;
  --vivid-blue-color: #1127fe;
  --perwinkle-color: #8892fe;
  --greyish-color: #3d3d3d;

  /* Size */
  /* --padding: 12px;
    --avatar-size: 36px; */

  /* Font Size */
  /* --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px; */
}

body {
  padding: 0;
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, NanumSquareOTFEB, NanumSquareOTFR, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif, InkLipquid;
}

@font-face {
  font-family: "InkLipquid";
  font-weight: 200;
  src: url("/fonts/InkLipquidFonts.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/ubuntu/Ubuntu-Light.ttf") format("truetype");
  src: url("/fonts/ubuntu/Ubuntu-Regular.ttf") format("truetype");
  src: url("/fonts/ubuntu/Ubuntu-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "NanumSquareOTFEB", sans-serif !important;
  font-weight: lighter, normal, bold;
  src: url("/fonts/nanumSquare/NanumSquareOTFEB.otf") format("opentype");
}

@font-face {
  font-family: "NanumSquareOTFR", sans-serif !important;
  font-weight: lighter, normal, bold;
  src: url("/fonts/nanumSquare/NanumSquareOTFR.otf") format("opentype");
}
